{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Add Video </title>
{% endblock title %}

{% block main-content %}

<div class="container my-5">
    {% include "components/messages.html" %}
    <div class='d-flex justify-content-center bg-white py-2'>
        <div class='col-md-4 shadow px-5'>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class='text-center mb-3'>Add Video</h2>
                {{ videoForm | crispy }}
                <input type='submit' value='Add' class='btn btn-primary w-100 my-2'>
            </form>
        </div>
    </div>
</div>

{% endblock main-content %}
