{% extends "base.html" %}

{% block main-content %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner shadow">
    <div class="carousel-item active">
      <img src="\static\images\Back to School Book Drop.jpg" class="d-block w-100" alt="..." height="500px">
    </div>
    <div class="carousel-item">
      <img src="\static\images\elearning-website-with-modish-sofware-student-study-internet_31965-44544.avif"
        class="d-block w-100" alt="..." height="500px">
    </div>
    <div class="carousel-item">
      <img
        src="\static\images\virtual-learning-education-vector-template-design-back-school-virtual-learning-text-with-laptop_572293-4877.jpg"
        class="d-block w-100" alt="..." height="500px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
  <div class="row">
    <h1 class="text-center mb-3">Top customers</h1>
    <div class="col-lg-4 text-center">
      <img src="\static\images\por2.jpg" class="rounded-circle" width="140" height="140" alt="Image 1">
      <h2 class="fw-normal">Billie ellish</h2>
      <p>The customer actively participates in discussions and is always keen on engaging with the learning materials</p>
      
    </div>

    <div class="col-lg-4 text-center">
      <img src="\static\images\por3.jpg" class="rounded-circle" width="140" height="140" alt="Image 2">
      <h2 class="fw-normal">Arierna Grande</h2>
      <p>The customer actively participates in discussions and is always keen on engaging with the learning materials.</p>
      
    </div>

    <div class="col-lg-4 text-center">
      <img src="\static\images\por3.avif" class="rounded-circle" width="140" height="140" alt="Image 3">
      <h2 class="fw-normal">taylor swift</h2>
      <p>The customer actively participates in discussions and is always keen on engaging with the learning materials.</p>
      
    </div>
  </div>
</div>


{% endblock main-content %}