{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Add Category</title>
{% endblock title %}

{% block main-content %}

<div class="container my-5">
    <div class='d-flex justify-content-center bg-white py-2'>
        <div class='col-md-4 shadow px-5'>
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <h2 class='text-center mb-3'>Add Category</h2>
                {{catForm | crispy}}
                <input type='submit' value='Add' class='btn btn-primary w-100 my-2'>
            </form>
        </div>
    </div>
</div>


{% endblock main-content %}
