{% if user.is_authenticated and user.is_staff %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom px-5 sticky-top" style="background-color: #D3F3FE;">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex text-decoration-none text-black fw-bold fs-2" style="font-family: 'Courier New', Courier, monospace;">
            <img src="/static/images/logo.png" alt="" height="50px">
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-black fw-bold {% if request.path == '/' %} active {% endif %}">Home</a></li>
        <li><a href="{% url 'coursetable' %}" class="nav-link px-2 text-black fw-bold {% if request.path == '/coursetable' %} active {% endif %}">Courses</a></li>
        <li><a href="viewassignment" class="nav-link px-2 text-black fw-bold {% if request.path == '/viewassignment' %} active {% endif %}">Assignment</a></li>
        <li><a href="{% url 'noticetable' %}" class="nav-link px-2 text-black fw-bold {% if request.path == '/noticetable' %} active {% endif %}">Notice</a></li>
        <li><a href="{% url 'pdfvideotable' %}" class="nav-link px-2 text-black fw-bold {% if request.path == '/pdfvideotable' %} active {% endif %}">PDFVideo</a></li>
    </ul>

    <div class="col-md-2 text-center">
        <div class="dropdown">
            <a href="#" class="text-decoration-none text-danger" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i> {{ user.username }} <i class="bi bi-chevron-down"></i>
            </a>
            <ul class="dropdown-menu my-4 mx-3 border-0 text-black" style="background-color:  #D3F3FE;" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'ChangePassword' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</header>
{% endif %}

{% if user.is_authenticated and not user.is_staff %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom px-5 sticky-top" style="background-color:  #D3F3FE;">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex text-decoration-none text-black fw-bold fs-2" style="font-family: 'Courier New', Courier, monospace;">
            <img src="/static/images/logo.png" alt="" height="50px">
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-black fw-bold {% if request.path == '/' %} active {% endif %}">Home</a></li>
        <li><a href="{% url 'allcourses' %}" class="nav-link px-2 text-black fw-bold {% if request.path == '/all_courses' %} active {% endif %}">Courses</a></li>
        <li><a href="viewassignment" class="nav-link px-2 text-black fw-bold {% if request.path == '/viewassignment' %} active {% endif %}">Assignment</a></li>
        <li><a href="{% url 'notice' %}" class="nav-link px-2 text-black fw-bold {% if request.path == '/notice' %} active {% endif %}">Notice</a></li>
        <li><a href="{% url 'contactus' %}" class="nav-link px-2 text-black fw-bold {% if request.path == '/contactus' %} active {% endif %}">Contact Us</a></li>
    </ul>

    <div class="col-md-2 text-center">
        <div class="dropdown">
            <a href="#" class="text-decoration-none text-danger" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i> {{ user.username }} <i class="bi bi-chevron-down"></i>
            </a>
            <ul class="dropdown-menu my-4 mx-3 border-0 text-black" style="background-color:  #D3F3FE;" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'ChangePassword' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</header>
{% endif %}

{% if not user.is_authenticated %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom px-5 sticky-top" style="background-color:  #D3F3FE;">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex text-decoration-none text-black fw-bold fs-2" style="font-family: 'Courier New', Courier, monospace;">
            <img src="/static/images/logo.png" alt="" height="50px">
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-black fw-bold {% if request.path == '/' %} active {% endif %}">Home</a></li>
        <li><a href="{% url 'allcourses' %}" class="nav-link px-2 text-black fw-bold {% if request.path == '/all_courses' %} active {% endif %}">Courses</a></li>
        <li><a href="{% url 'aboutus' %}" class="nav-link px-2 text-black fw-bold {% if request.path == '/aboutus' %} active {% endif %}">About Us</a></li>
        <li><a href="{% url 'contactus' %}" class="nav-link px-2 text-black fw-bold {% if request.path == '/contactus' %} active {% endif %}">Contact Us</a></li>
    </ul>

    <div class="col-md-2 text-center">
        <a href="{% url 'login' %}" class="text-danger fs-3"><i class="bi bi-person-circle"></i></a>
    </div>
</header>
{% endif %}
