{% extends "base.html" %}

{% block main-content %}

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-5 shadow p-4 rounded-5 m-auto">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <h2 class="text-center">Login Here</h2>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>

                <div class="mb-3">
                    <label for="role" class="form-label">Select Role</label>
                    <select name="role" class="form-control" id="role" required>
                        <option value="admin">Admin</option>
                        <option value="staff">Staff</option>
                        <option value="user">User</option>
                    </select>
                </div>

                <div class="my-3">
                    <input type="submit" value="Login" class="btn btn-primary w-100">
                </div>

                <a class="d-flex text-decoration-none justify-content-center" href="{% url 'request-password' %}">Forgot
                    Password?</a>

                <hr>
                <small>Are you a new user?
                    <a href="{% url 'register' %}" class="text-decoration-none">Create a new Account</a>
                </small>
            </form>
        </div>
    </div>
</div>

{% endblock main-content %}