{% extends "base.html" %}

{% block main-content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-5 shadow p-4 rounded-5 m-auto">
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center">Register Here</h2>
                <div class="mb-3">
                    <label for="name" class="form-label">Username</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirmpassword" class="form-label">Re-type Password</label>
                    <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Signup</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
