{% extends "base.html" %}

{% block main-content %}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-5 shadow p-4 rounded-5 m-auto">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <h2 class="text-center">Register Here</h2>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="register-password" required>
                </div>

                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Re-type Password</label>
                    <input type="password" name="confirm_password" class="form-control" id="confirm-password" required>
                </div>

                <div class="mb-3">
                    <input type="checkbox" id="register-show-password" onclick="togglePasswordVisibility('register')"> 
                    <label for="show-password" class="form-label">Show Password</label>
                </div>

                <button type="submit" class="btn btn-primary w-100">Signup</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


