{% extends "base.html" %}

{% block main-content %}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-5 shadow p-4 rounded-5 m-auto">
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center">Register Here</h2>
                <div class="mb-3">
                    <label for="fname" class="form-label">First_name</label>
                    <input type="text" name="fname" class="form-control" id="fname" required>
                </div>
                <div class="mb-3">
                    <label for="lname" class="form-label">Last_name</label>
                    <input type="text" name="lname" class="form-control" id="lname" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Re-type Password</label>
                    <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Signup</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}