{% extends "base.html" %}

{% block title %}
<title>Reset Password</title>
{% endblock title %}

{% block main-content %}
<div class="container">
    {% include "components/messages.html" %}
    <p class="text-center display-4 fw-bold">Reset Your Password</p>
<div class="row justify-content-between shadow my-5">

    <div class="col-md-5">
        <img src="/static/images/forgetpw.avif" height="400px" width="100%">
    </div>
    
    <div class="col-md-5 ">
        <div class="card  border-0">
            <div class="card-body ">
                <div class="card-title text-center mb-4">
              
                    <p class="text-muted">Enter your email to receive a reset link</p>
                </div>
                <form action="{% url 'request-password' %}" method="post">
                    {% csrf_token %}

                    <div class="form-floating mb-4">
                        <input type="email" name="email" id="emailField" class="form-control form-control-lg"
                            placeholder="Email" value="{{ fieldValues.email }}" />
                        <label for="emailField">Email Address</label>
                    </div>

                    <div class="mt-4">
                        <input type="submit" value="Send Reset Link" class="btn btn-primary w-100 py-2" />
                    </div>
                </form>

                <div class="mt-4 text-center">
                    <p class="mb-0">Don't have an account?</p>
                    <a href="{% url 'register' %}" class="text-decoration-none text-primary">Create Account</a>
                    <br />
                    <p class="mb-0 mt-2">Already have an account?</p>
                    <a href="{% url 'login' %}" class="text-decoration-none text-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}